/* colors and setup */
  :root {
    --c-key: lawngreen;
    --c-low: rgba(0,222,100,0.5);
    --c-pale: #f0eded;
    --c-shade: grey;
    --c-black: #101010;
    --frac: 0.35em;
    --space: 0.7em;
    --gap: 1.4em;
    font-size: smaller;
    font-family: sans-serif;
    line-height: 135%;
  }

  body {
    color: var(--c-black);
    margin: 0;
  }

/* semantic, tag-based styles */
  /* appearance */
    input, button, summary {
      border-radius: 0.25em;
      outline: none;
    }

    input {
      font-size: inherit;
      border: medium solid var(--c-shade);
      padding: 0.35em 0.7em;
    }

    input:focus, button:focus {
      border: medium solid var(--c-key); 
    }

    table {
      width: 100%;
    }

    thead, button[type="submit"] {
      background: var(--c-key);
    }

    thead {
      text-align: left;
    }

    th {
      padding: 1.4em 0.7em 0.7em;
    }

    td {
      padding: 0.7em;
    }

    button, summary {
      border: thin solid var(--c-shade);
      padding: 0.35em 1.4em;
    }

    fieldset {
      border: none;
    }

    summary, section.info {
      background: var(--c-pale);
    }

    summary {
      justify-content: space-between;
      align-items: center;
    }

    summary::-webkit-details-marker {
      display: none;
    }

    tbody tr:nth-of-type(2n) {
      background: var(--c-pale);
    }

  /* layout */
    header ul {
      padding: 0;
    }

    nav ul li {
      display: inline-block;
    }

    form, fieldset {
      position: relative;
    }

    fieldset {
      width: 45%;
      position: relative;
    }

    input[type="text"], input[type="email"] {
      display: block;
      width: 80%;
    }

    header > *, footer > * {
      padding: 0 40px;
    }

    footer {
      padding-top: 0.35em;
      padding-bottom: 4em;
      border-top: 2px solid var(--c-shade);
      color: var(--c-shade);
    }

/* class based styles */
  nav.crumbs li:not(:last-of-type)::after {
    content: "\232a";
    color: var(--c-pale);
    margin: 0 0.35em;
  }
  a.logout {
    text-decoration: none;
    color: inherit;
  }

  table td.control {
    text-align: center;
  }

  button.icon-only {
    background: transparent;
    border: none;
    outline: none;
  }

  .keylit {
    color: var(--c-key);
  }

  .sign-keylit p,
  .sign-keylit .icon {
    color: var(--c-key);
  }

  header .app-name {
    display: inline-block;
  }

  .sign {
    align-items: center;
  }

  .sign .icon, 
  .help .icon {
    font-size: 5em;
    margin-right: 1rem;
  }

  .help .icon {
    float: left;
    padding: 1rem;
  }

  .burger ul {
    padding: 0;
    margin: 0;
  }

  .tx-rt {
    text-align: right;
  }

  section.info, section.sticky, form.user-registration, article.sign, summary, footer {
    display: flex;
  }

  form.user-registration, footer, section.signbar {
    justify-content: space-between;
  }

  ul.signs li {
    display: inline-block; 
    margin-right: var(--gap);
  }

  header section.sticky {
    position: sticky;
    position: -webkit-sticky;
    justify-content: space-between;
    align-items: center;
    background: white;
    top: 0;
    box-shadow: 0 3px 2px #55555555;
  }

  section.page-content {
    padding: 40px;
    padding-bottom: 5em;
  }

  article.help {
    padding: 1.4em;
  }
 
  nav.crumbs a {
    color: var(--c-key);
  }

/* behaviour */
  details, label, h1 {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
  }

  details summary button.close {
    display: none;
    pointer-events: none;
  }

  details[open] summary button.close {
    display: inline-block;
  }

  small.hidden.info {
    display: none;
  }

  input:focus + small.hidden.info {
    display: initial;
  }

  tr button.delete {
    opacity: 0;
  }

  tr:hover button.delete {
    opacity: 1;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  tbody tr:hover {
    cursor: pointer;
    background: var(--c-low);
  }

  input:hover {
    outline: thick solid var(--c-low);
  }

